<section>
	<h1>F.A.Q</h1>
	<h2>Comment créer une nouvelle page sur le site ?</h2>
	<p>
		Pour créer une nouvelle page, il faut tout d'abord éditer le fichier "src/Server.hx" et créer dans le classe Server une fonction doName où Name est le lien de la page. Cette fonction prend un paramètre : dispatch de type Dispatch qui contient les données de la requête HTTP.
		<pre>
public function doApi(dispatch : Dispatch)
{
	result = "Contenu de ma page";
}
		</pre>
	</p>
	
	<h2>Comment accèder aux données ?</h2>
	<p>
		Dans la fonction qui décrit votre page, vous avez accès à l'objet api (voir ci-dessous). A partir de cet objet vous pouvez appeler directement les fonctions de l'api et ainsi récupérer les données du site.
	</p>
	
	<h2>Où écrire le code HTML ?</h2>
	<p>
		Pour intégrer du HTML dans votre page, il faut créer un template de page. Pour cela, créez un fichier .html dans le dossier src/templates. Vous pouvez ensuite rédigez dans ce fichier le contenu de votre page. Par défaut, ce contenu est inclus dans un élément HTML du template global.html, il ne faut donc pas inclure les en-têtes HTML. Ensuite, pour intégrer le HTML à votre page il faut appeler l'appel suivant dans votre fonction de page.
		<pre>
result = new templo.Loader("page.html").execute({});
		</pre>
	</p>

	<h2>Comment intégrer des données dans le code HTML ?</h2>
	<p>
		Dans la fonction de votre page, vous pouvez passer des données depuis l'api au template HTML comme ceci :
		<pre>
var data = {awesomeData : api.GetAwesomeData()};
result = new templo.Loader("page.html").execute(data);
		</pre>
		Pour afficher ces données dans le code HTML :
		<pre>
&lt;div class="awesome"&gt;::"::awesomeData::"::&lt;/div&gt;
		</pre>
	</p>

	<h2>Compiler le site pour appliquer les changements</h2>
	<p>
		Pour compiler le site, il est nécessaire d'installer Haxe. Il suffit ensuite de d'exécuter la commande : "haxe build.hxml".
		Le résultat de la compilation est placé dans le dossier "www" et est prêt à être upload sur le site.
	</p>
</section>
<section>
	<h1>API</h1>
	::foreach method apiMethods::
		<div class="method">::method.name::</div>
	::end::
</section>