::if group::
	<section class="group" style="background-image : url('/::tools.getPictureOrDefault(group, "images/background.png")::');">
		<h1>::group.name::</h1>
		<div class="description">::raw group.description::</div>
		<div id="widgets"></div>
	</section>

	<section class="center">
		::if group.isUserIn::
			::if group.isUserAdmin::
				Vous êtes administrateur de cet évènement<a class="button" id="editGroupLink">Éditer l'évènement</a>
			::else::
				Vous participez à cet évènement<a class="button" id="leaveGroupLink">Me retirer de cet évènement</a>
			::end::
		::else::
			Vous ne participez pas à cet évènement<a class="button" id="joinGroupLink">Participer à cet évènement</a>
		::end::
	</section>
	
	::if tools.isAdmin(currentUser)::
		<section>
			Administration de l'évènement
			::if group.status == 0::
				<a class="button" id="validateGroupLink">Valider cet évènement</a>
			::else::
				<a class="button" id="unvalidateGroupLink">Revoter cet évènement</a>
			::end::
			<a class="button" id="deleteGroupLink">Supprimer cet évènement</a>
		</section>
	::end::

	<div class="groupInfos">
		<div class="members">
			<h2>Participants</h2>
			<br />
			::foreach groupUser group.users::
				<a class="user" href="/users/::groupUser.user.id::" style="background-image : url('/::tools.getPictureOrDefault(groupUser.user, "images/avatar.png")::');">
					::groupUser.user.firstName::<br />
					::groupUser.user.lastName::<br />
					<span class="role">::groupUser.label::</span>
				</a>
				<br />
			::end::
<!-- 			<div class="user add">
	<select name="newUser" id="newUserId">
		::foreach author users::
			<option value="::author.id::">::author.firstName:: ::author.lastName::</option>
		::end::
	</select>

	<input type="text" id="newUserLabel" placeholder="Rôle" />
	<a class="button addUserToGroup" type="text">Ajouter</a>
</div> -->
		</div>
		<div class="messages">
			<h2>Messages</h2>
			<div class="chatBox" href="/::tools.getTypeString(group)::/::group.id::">
				<div class="messages">
				</div>
				::if currentUser.logged::
					<form class="inline sendMessage">
						<input type="text" placeholder="Envoyer un message" />
						<input type="submit" value="Envoyer" />
					</form>
				::end::
			</div>
		</div>
	</div>

::else::

	::if groups.length == 0::
		<section class="center">
			Aucun évènement en ce moment. :(	
		</section>
	::end::
	::foreach group groups::
		<a href="/events/::group.id::" class="group" style="background : url('/::tools.getPictureOrDefault(group, "images/background.png")::') repeat;">
			<div class="info">
				<div class="title">::group.name::</div>
				<div class="status">En cours</div>
				<div class="author">par ::group.author.firstName:: ::group.author.lastName::</div>
			</div>
		</a>
	::end::

::end::