<!DOCTYPE html>
<html>
	<head>
		<title>Label[i]</title>
		<link rel="stylesheet/less" href="/style/style.less" type="text/css" />
		<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="/scripts/less.js" type="text/javascript"></script>
		<script src="/scripts/main.js" type="text/javascript"></script>
		<meta charset="utf-8" />
	</head>
	<body>
		<header>
			<div class="content">
				<img src="/images/loading.png" alt="loading..." class="loading" id="loading" />
				<a href="/index"><img src="/images/logo.png" alt="Label[i]" /></a>
				<nav>
					<a href="/presentation">L'association</a>
					<a href="/users">Membres</a>
					<a href="/projects">Projets</a>
					<a href="/teams">Équipes</a>
					<a href="/events">Évènements</a>
					<a href="/login" id="loginLink" ::attr style if(currentUser.logged) "display : none;"::>Connexion</a>
					::if currentUser.logged::
						::set displayNavUser = "display : inline-block;"::
					::else::
						::set displayNavUser = "display : none;"::
					::end::

					::if currentUser.logged::
						<div id="navUser" style="background-image : url('/::currentUser.picture::');" >::currentUser.firstName:: ↓</div>
					::else::
						<div id="navUser" style="display : none;" >↓</div>
					::end::
					<div class="additionalLinks">
						<div>
							<a href="/users/::currentUser.id::">Mon Profil</a><br />
							<a href="/messages">Messages</a><br />
							<a href="/votes">Votes</a><br />
							<br />
							<a href="#" id="logout-link">Déconnexion</a><br />
						</div>
					</div>
				</nav>
			</div>
		</header>
		<div id="main">
			<div id="content">
				::raw content::
			</div>
			<div id="errors">
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>