<section class="center">
	Bienvenue sur le site de l'association Label[i]<br />
</section>
<section>
	<h1>Projets Récents</h1>
	
	::foreach project projects::
		<a href="/projects/::project.id::" class="group small" style="background : url('::tools.getPictureOrDefault(project, "images/background.png")::') repeat;">
			<div class="info">
				<div class="title">::project.name::</div>
				<div class="status">En cours</div>
				<div class="author">par ::project.author.firstName:: ::project.author.lastName::</div>
			</div>
		</a>
	::end::
	<div class="more"><a href="/projects">Voir tous les projets</a></div>
</section>
<section>
	<h1>Évènements Récents</h1>

	::foreach event events::
		<a href="/events/::event.id::" class="group small" style="background : url('::tools.getPictureOrDefault(event, "images/background.png")::') repeat;">
			<div class="info">
				<div class="title">::event.name::</div>
				<div class="status">En cours</div>
				<div class="author">par ::event.author.firstName:: ::event.author.lastName::</div>
			</div>
		</a>
	::end::

	<div class="more"><a href="/projects">Voir tous les évènements</a></div>
</section>