<section class="center">
	Bienvenue sur le site de l'association Label[i]<br />
</section>
<section>
	<h1>Projets Récents</h1>
	
	::foreach project projects.splice(0, 8)::
		<a href="::tools.getRoot()::projects/::project.id::" class="group small" style="background : url('::tools.getPictureOrDefault(project, "images/background.png")::') repeat;">
			<div class="info">
				<div class="title">::project.name::</div>
				<div class="status">En cours</div>
				<div class="author">par ::project.author.firstName:: ::project.author.lastName::</div>
			</div>
		</a>
	::end::
	<div class="more"><a href="::tools.getRoot()::projects">Voir tous les projets</a></div>
</section>
<section>
	<h1>Évènements Récents</h1>

	::foreach event events.splice(0, 8)::
		<a href="::tools.getRoot()::events/::event.id::" class="group small" style="background : url('::tools.getPictureOrDefault(event, "images/background.png")::') repeat;">
			<div class="info">
				<div class="title">::event.name::</div>
				<div class="status">En cours</div>
				<div class="author">par ::event.author.firstName:: ::event.author.lastName::</div>
			</div>
		</a>
	::end::

	<div class="more"><a href="::tools.getRoot()::events">Voir tous les évènements</a></div>
</section>
<section class="center">Le local de l'association est 
::if houseOpened::
	<span class="green">Ouvert</span>
	::if tools.isAdmin(currentUser)::
		<div class="button" id="closeHouse">Fermer le local</div>
	::end::
::else::
	<span class="red">Fermé</span>
	::if tools.isAdmin(currentUser)::
		<div class="button" id="openHouse">Ouvrir le local</div>
	::end::
::end::
</section>