<section>
	<h1>Connexion</h1>
	<form method="POST" id="login-form" class="inline">
		<input type="text" name="login" placeholder="Identifiant" />
		<input type="password" name="password" placeholder="Mot de Passe" />
		<input type="submit" value="Connexion" />
	</form>
	<div class="loginOptions">
		<input type="checkbox" id="remember" checked="true" /><label for="remember">Sauvegarder la connexion</label>
		<a href="::tools.getRoot()::resetPassword">Identifiants oubliés ?</a>
	</div>
</section>
