<section>
	<h1>Envoyer un mail</h1>
	<form method="POST">
		<label>Destinataire</label><br />

		<input type="radio" name="recipient" value="all" id="all" />
		<label for="all">Tous les membres</label><br />
		
		<input type="radio" name="recipient" value="bureau" id="bureau" />
		<label for="bureau">Tout le bureau</label><br />
		
		<input type="radio" name="recipient" value="user" id="user" />
		<label for="user">Un membre :</label>
		<select name="mailRecipientUser" id="mailRecipientUser">
			::foreach user users::
				<option value="::user.id::">::user.firstName:: ::user.lastName::</option>
			::end::
		</select><br />

		<br />
		
		<label for="mailTitle">Titre</label><br />
		<input type="text" name="title" id="mailTitle"/><br />
		<label for="mailContent">Contenu</label><br />
		<textarea name="content" id="mailContent"></textarea><br />

		<label>Options</label><br />
		<input type="checkbox" name="mailPreformat" id="mailPreformat" /><label for="mailPreformat">Préformatter le mail</label><br />
		<input type="checkbox" name="mailSendAsAdmin" id="mailSendAsAdmin" /><label for="mailSendAsAdmin">Envoyer depuis contact@labeli.org</label><br />

		<input type="submit" value="Envoyer" name="send" id="mailSend" />
		<input type="submit" value="Prévisualiser" name="preview" id="mailPreview" />
	</form>
</section>

<section id="mailPreviewSection">
	<h2>Prévisualisation</h2>
	<iframe src="::tools.getRoot()::files/newsletter.html" style="width: 100%"></iframe>
</section>
