<section>
	<h1>L'association étudiante d'informatique de l'Université de Bordeaux</h1>
	Notre association a pour but de réunir tous les étudiants en informatique présents à l'université. En leur proposant un cadre pour réaliser leurs projets, nous espérons booster leur productivité et ainsi, leur donner de meilleures chances pour leur vie après les études.
</section>
<section>
	<h1>Le local de l'association</h1>
	Nous aimons nous retrouver et vous accueillir dans notre local, dans le bâtiment A29.
	<br />
	<br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156.61050685995724!2d-0.596881595567435!3d44.80662828077027!2m3!1f0!2f39.53400030427637!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0xd55277eb52e4d49%3A0x548104d8115ce893!2sA29!5e1!3m2!1sen!2sfr!4v1392664064942" width="960" height="360" frameborder="0" style="border:0"></iframe>
</section>
<section>
	<h1>Adhérer à l'association</h1>
	Tous les étudiants intéressés par l'informatique peuvent nous rejoindre.<br />
	Les cotisations sont : <br />
	<div class="price">4€</div> pour les étudiants en première année<br />	
	<div class="price">8€</div> pour les étudiants en années supérieures<br />
	<br />
</section>
