::if user::
	<section class="user" style="background-image : url('::tools.getRoot()::::tools.getPictureOrDefault(user, "images/avatar.png")::');">
		<div class="infos">
			<h1>::user.firstName:: ::user.lastName::</h1>
			<div class="created">
				<div class="label">Membre depuis le</div>
				<div class="value">::tools.formatTimestamp(user.created, "%e/%m/%Y")::</div>
			</div>
			<div class="role">
				<div class="label">Rôle</div>
				<div class="value">::user.role::</div>
			</div>
			<div class="universityGroup">
				<div class="label">Groupe universitaire</div>
				<div class="value">::user.universityGroup::</div>
			</div>
			<div class="birthday">
				<div class="label">Anniversaire</div>
				<div class="value">
					::if user.birthday != null::
						::tools.formatTimestamp(user.birthday, "%e/%m/%Y")::
					::end::
				</div>
			</div>
		</div>

		<h2>Biographie</h2>
		<div class="description">::raw user.description::</div>
	</section>

	<section>
		::if currentUser.id == user.id::
			<div class="button" id="editUser">Éditer mon profil</div>
		::else::
			<a href="::tools.getRoot()::messages?user=::user.id::" class="button">Contacter ce membre</a>
		::end::
	</section>

	::if tools.isAdmin(currentUser) && currentUser.id != user.id::
		<section>
			Administration du membre
			<div class="button" id="editUser">Éditer le profil</div>
		</section>
	::end::
::else::

	::foreach user users::
		<a class="user" href="::tools.getRoot()::users/::user.id::" style="background-image : url('::tools.getRoot()::::tools.getPictureOrDefault(user, "images/avatar.png")::');">::user.firstName::<br />::user.lastName::<br /> <span class="role">::user.role::</span> </a>
	::end::

	<h1>Anciens membres</h1>
	::foreach user oldUsers::
		<a class="user old" href="::tools.getRoot()::users/::user.id::">::user.firstName:: ::user.lastName::<br /></a>
	::end::

	::if currentUser.logged && tools.isAdmin(currentUser)::
		<section>
			<h1>Ajouter un membre</h1>
			<form action="#" method="POST" id="createUser-form" class="inline">
				<input type="text" placeholder="Prénom" name="firstName" />
				<input type="text" placeholder="Nom" name="lastName" />
				<input type="email" placeholder="Email" name="email" />
				<input type="submit" value="Ajouter" />
			</form>
		</section>
	::end::
::end::