::if groups.length == 0::
	<section class="center">
		Aucun vote en ce moment. :(
	</section>
::end::

::foreach group groups::
	<div class="group vote large" style="background : url('::tools.getPictureOrDefault(group, "images/background.png")::') repeat;">
		<div class="info">
			<div class="infos">
				<a href="/::tools.getTypeString(group)::s/::group.id::"><div class="title">::group.name::</div></a>
				<div class="status">[-::group.downVotes:: / ::group.neutralVotes:: / +::group.upVotes::] = ::group.votesValue::</div>
				<div class="author">par ::group.author.firstName:: ::group.author.lastName::</div>
			</div>
			<div class="votes">
				::if group.userVote == -1::
					<div class="button down active">-1</div>
				::else::
					<div class="button down">-1</div>
				::end::
				::if group.userVote == 0::
					<div class="button neutral active">0</div>
				::else::
					<div class="button neutral">0</div>
				::end::
				::if group.userVote == 1::
					<div class="button up active">+1</div>
				::else::
					<div class="button up">+1</div>
				::end::
				<br />
				<a href="/::tools.getTypeString(group)::s/::group.id::">0 Nouveaux messages</a>
			</div>
		</div>
	</div>
::end::

::if currentUser.logged && tools.isAdmin(currentUser)::
	<section>
		<h1>Ajouter un vote</h1>
		<form action="#" method="POST" id="createGroup-form" class="inline">
			<input type="text" placeholder="Nom" name="name" />
			
			<select name="author">
				::foreach author users::
					<option value="::author.id::">::author.firstName:: ::author.lastName::</option>
				::end::
			</select>

			<select name="type">
				<option value="project">Projet</option>
				<option value="team">Équipe</option>
				<option value="event">Évènement</option>
			</select>

			<input type="submit" value="Créer" />
		</form>
	</section>
::end::