<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="fr" />
		<meta name="author" content="Label[i]" />
		<meta content="width=device-width" />
	    <style type="text/css">
	   		@media only screen and (max-width: 480px) {
		        table[class=mainTable] { width : 320px !important;}
		        td[class=toHide] { display: none !important;}
		    }
	    </style>
		<title>
			::title::
		</title>
	</head>
	<body style="background-color: #efefef; font-family: 'Segoe Ui', Ubuntu, Roboto, Helvetica, Arial, serif; color: #252525; font-size: 13px;">
		<table class="mainTable" width="700" align="center" style="">
			<tr>
				<td style="padding: 0; margin: 0; border-left: #C8C8C8 5px solid; border-right: #C8C8C8 5px solid;">
					<table style="width: 100%; padding: 0; margin: 0; width: 100%; background-color: #252525;  border-bottom: 2px #8B8B8B solid;">
						<tr>
							<td>
								<table style="padding: 10px 20px; margin: 0">
									<tr>
										<td>
											<a href="http://www.labeli.org"><img src="http://www.labeli.org/style/images/logo-white.png" height="73" width="183" alt="Label[i]" /></a>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<table>
									<tr>
										<td style="color: #fff; font-size: 30px;">
											::title::
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table style="width: 100%; padding: 0; margin: 0; width: 100%; background-color: white">
						<tr>
							<td style="padding: 0; margin: 0">
								<p style="padding: 20px 10px; margin: 0; text-align: justify;">
									::raw content::
								</p>
							</td>
						</tr>
					</table>
					<table cellspacing="0" style="width: 100%; padding: 0; margin: 0; width: 100%; background-color: #252525; ">
						<tr>
							<td valign="top" style="padding: 10px; color: #C8C8C8; border-bottom: 1px #555 solid; margin: 0">
								<span style="vertical-align: top; line-height: 33px">Votre asso sur les réseaux sociaux :&nbsp;&nbsp;</span>
								<span style="white-space: nowrap;">
									<a href="https://twitter.com/label_i"><img src="http://www.krakenrose.fr/mail/img/twitter.png" alt="Twitter"/></a>
									<a href="https://www.facebook.com/pages/Labeli/109980539162319"><img src="http://www.krakenrose.fr/mail/img/facebook.png" alt="Facebook"/></a>
									<a href="http://label-i.tumblr.com/"><img src="http://www.krakenrose.fr/mail/img/tumblr.png" alt="Tumblr"/></a>
									<a href="https://plus.google.com/100637301062023231206/posts"><img src="http://www.krakenrose.fr/mail/img/google+.png" alt="Google+"/></a>
								</span>
							</td>
						</tr>
						<tr>
							<td style="padding: 10px; color: #C8C8C8; border-top: 1px #bbb solid; margin: 0">
								Une remarque, une suggestion ? Écrivez-nous à <a href="mailto:contact@labeli.org" style="color: #0080FF;">contact@labeli.org</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>