Une demande de redéfinition des identifiants à récement été lancée pour cette adresse email.<br />
<br />
Si ce n'est pas vous qui avez effectué cette demande, ignorez cet e-mail.<br />
<br />
<b>Identifiant : ::user.username::</b><br />
<br />
Pour redéfinir votre mot de passe, rendez vous sur le lien suivant <a href="http://www.labeli.org/resetPassword?username=::user.username::&amp;key=::user.privateKey::">http://www.labeli.org/resetPassword?username=::user.username::&amp;key=::user.privateKey::</a><br />