<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="labeli-users-section">
	<template>
		<style>
			:host
			{
				display : block;
				max-width: 1000px;
				margin : auto;
			}
			labeli-user
			{
				opacity : 0;
				position : relative;
				top : -15px;
			}
			h1
			{
				font-family : Convergence, sans-serif;
				margin-left : 15px;
			}
			core-icon.big
			{
				width : 32px;
				height : 32px;
				position : relative;
				top : -2px;
				margin-right : 5px;
			}
		</style>
		
		<h1><core-icon icon="account-circle" class="big"></core-icon>Membres</h1>
		<div id="users" layout horizontal wrap></div>
	</template>
	
	<script>
		Polymer({
			publish :
			{
				count : -1,
			},
			users : [],
			domReady : function()
			{
				var root = this;
				labeli.async.getUsers(function(users)
				{
					root.users = (root.count == -1) ? users : users.slice(0, root.count);
				});
			},
			usersChanged : function()
			{
				for(var i = 0; i < this.users.length; ++i)
				{
					var element = document.createElement("labeli-user");
					element.user = this.users[i];
					this.$.users.appendChild(element);
					$(element).delay(i * 50).animate({opacity : 1, top : 0}, 250);
				}
			}
		});
	</script>
</polymer-element>