<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="labeli-header">
	<template>
		<style>
			:host
			{
				display : block;
				background-color: rgba(0,0,0,0.85);
				font-family : Convergence, sans-serif;
				text-transform:uppercase;
			}
			#wrapper
			{
				max-width : 1000px;
				margin : auto;
			}
			paper-tab
			{
				padding : 10px;
				font-size : 1.5em;
				text-decoration: none;
				color : white;
				text-shadow : 0px 2px 0px black;
				border-bottom: 3px solid rgba(0,128,255,0.0);
				transition : all 0.2s linear;
				cursor : pointer;
			}
			paper-tabs::shadow #selectionBar
			{
				height: 5px;
				background-color : #0080FF;
			}
			paper-tabs[selected="1"]::shadow #selectionBar
			{
				background-color : #FF8000;
			}
			a:hover
			{
				border-bottom: 3px solid rgba(0,128,255,1.0);
			}
			core-icon
			{
				color : red;
			}
		</style>
		<div id="wrapper">
			<paper-tabs id="tabs" noink selected="0">
				<paper-tab on-click="{{goToHome}}">Label[i]</paper-tab>
				<paper-tab on-click="{{goToPresentation}}">L'association</paper-tab>
				<paper-tab on-click="{{goToUsers}}">Membres</paper-tab>
				<paper-tab on-click="{{goToProjects}}">Projets</paper-tab>
				<paper-tab on-click="{{goToEvents}}">Événements</paper-tab>
				<paper-tab on-click="{{goToLogin}}"><labeli-user loginBox></labeli-user></paper-tab>
			</paper-tabs>
		</div>
	</template>
	
	<script>
		Polymer({
			tab : 0,
			tabChanged : function()
			{
				this.$.tabs.selected = this.tab;
			},
			goToHome : function()
			{
				router.go("", {});
			},
			goToPresentation : function()
			{
				router.go("presentation", {});
			},
			goToUsers : function()
			{
				router.go("users", {});
			},
			goToProjects : function()
			{
				router.go("projects", {});
			},
			goToEvents : function()
			{
				router.go("events", {});
			},
			goToLogin : function()
			{
				router.go("login", {});
			}
		});
	</script>
</polymer-element>