<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="labeli-router">
	<template>
		<style>
		</style>
	</template>
	
	<script>
		Polymer({
			root : "/labeli-website/",
			go : function(url, params)
			{
				switch(url)
				{
				case "" :
				case "home" :
				case "index" :
					document.querySelector("core-animated-pages").selected = 0;
					document.querySelector("labeli-header").tab = 0;
					history.pushState({}, '', this.root);
					break;
						
				case "presentation" :
					document.querySelector("labeli-header").tab = 1;
					break;
						
				case "projects" :
					document.querySelector("core-animated-pages").selected = 2;
					document.querySelector("labeli-header").tab = 2;
					history.pushState({}, '', this.root+'/projects');
					break;
	
				case "events" :
					document.querySelector("core-animated-pages").selected = 3;
					document.querySelector("labeli-header").tab = 3;
					history.pushState({}, '', this.root+'/events');
					break;
				
				case "project" :
					document.querySelector("core-animated-pages").selected = 4;
					document.querySelector("labeli-header").tab = 2;
					history.pushState({id: params.id}, '', this.root+"projects/" + params.id);
					break;
					
				case "event" :
					document.querySelector("core-animated-pages").selected = 5;
					document.querySelector("labeli-header").tab = 3;
					history.pushState({id: params.id}, '', this.root+'events/'+params.id);
					break;
						
				default :
					console.log("unknown route : "+url);
				}
			},
			ready : function()
			{
				var root = this.root; 
				var go = this.go;
  				window.onpopstate = function(event)
  				{
					go(window.location.pathname.substring(root.length));
				};
				window.router = this;
			}
		});
	</script>
</polymer-element>